/* default styles */
*{
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style: none;
}

/* styles */

li{
    color: black;
    background-color: white;
    border-radius: 50%;
}
#display{
    background-color: white;
    color: black;
    border-radius: 10px;
}
main{
    background-color: black;
    border-radius: 20px;
}
#button-container{
    background-color: black;
}

/* layout */
section,ul{
    display: flex;
}
